{% extends "pages/page.html" %}

{% load mezzanine_tags event %}

{% block main %}{{ block.super }}

<div style="float:right;">
	<a href='{{page.event|google_calendar_url}}' target="_blank" class="btn btn-small">
		Add to Google Calendar
	</a>
	<a href='{{page.event|icalendar_url}}' class="btn btn-small">
		Add to Outlook/iCal
	</a>
</div>

<p class='lead'>
	{{page.event.date}} from {{page.event.start_time}} to {{page.event.end_time}}
</p>

{% if page.event.location %}
<div class="row-fluid">
	<div class="span4">
		<b>Address</b>
		<address>
			{{page.event.location|linebreaksbr}}<br />
			<a href='{{page.event|google_nav_url}}' class="btn btn-small">
				Get Directions
			</a>
		</address>
	</div>
</div>
{% endif %}

{{page.event.content|richtext_filter|safe}}

{% google_static_map page.event 670 150 10 %}

{% endblock %}
